/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.max-width-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.max-width-wrapper:first-child {
    padding-top: 96px;
}

header, .card {
    background-color: white;
}

main {
    background-color: hsla(0, 0%, 40%, 1);
}

strong {
    color: hsla(160, 100%, 30%, 1)
}

p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: 0;

}

.intro-chunk {
    max-width: 415px;
}

.card, header {
    border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.card {
    padding: 8px 24px 24px 24px;
}

.intro-chunk {
    margin-left: 24px;
}

.title {
    margin-bottom: 48px;
    font-size: 1.5rem;
    font-weight: 800;
}

.intro-chunk > p:first-of-type, .card > p:first-of-type {
    margin-bottom: 16px;
}

.card > p:first-of-type {
    margin-top: 24px;
}

.indented-heading {
    background: hsla(45, 100%, 50%, 1);
    padding: 16px 32px;
    max-width: max-content;
    border-bottom: 8px solid hsla(45, 100%, 40%, 1);
    margin-left: -32px;
}

